/* Utility classes
   ========================================================================== */

/**
 * Setting these variables to `true` will render utility classes in your output
 * CSS file, allowing you to use them directly in your markup. Use with care:
 * enabling these will naturally add (significant) weight to that CSS file.
 *
 * Utility classes apply a single value to a single property, no matter what
 * (using `!important`). They should be used sparingly — in most cases a
 * component should define its own variants and stay completely self-contained.
 * Try to only use utility classes to quickly test out ideas or for early stage
 * ‘sketching’ in the browser.
 */

$classes-background:           true;
$classes-border-radius:        true;
$classes-border:               true;
$classes-box-sizing:           true;
$classes-clear:                true;
$classes-display:              true;
$classes-flex-align-content:   true;
$classes-flex-align-items:     true;
$classes-flex-align-self:      true;
$classes-flex-basis:           true;
$classes-flex-direction:       true;
$classes-flex-grow:            true;
$classes-flex-justify-content: true;
$classes-flex-shrink:          true;
$classes-flex-wrap:            true;
$classes-flexbox:              true;
$classes-float:                true;
$classes-font-family:          true;
$classes-font-size:            true;
$classes-font-weight:          true;
$classes-height-width:         true;
$classes-interaction:          true;
$classes-letter-spacing:       true;
$classes-line-height:          true;
$classes-list-item-spacing:    true;
$classes-list-style:           true;
$classes-margin:               true;
$classes-opacity:              true;
$classes-overflow:             true;
$classes-padding:              true;
$classes-positioning:          true;
$classes-text-color:           true;
$classes-text-decoration:      true;
$classes-text-formatting:      true;
$classes-vertical-align:       true;
$classes-z-index:              true;


/* Project-specific aliases
   ========================================================================== */

/**
 * We create friendly global aliases for our CSS values to improve the authoring
 * experience. But it's also possible to define local aliases for a particular
 * project. This is useful for defining a different default `font-size` or
 * `line-height` and being able to refer to them throughout your codebase as
 * `default` rather than `large` or `x-small`.
 */

/* Leave quotes empty if this project doesn't have custom aliases */
$project: "";
