/**
 * Docs:
 * http://fac.github.io/origin/utilities/background/
 *
 * Values:
 * https://github.com/fac/origin/tree/master/assets/scss/global/utilities/_utility-values.scss
 */


/* `background`
   ========================================================================== */

@if $classes-background == true {

  @each $background-value in $background-values {

    .background--#{$background-value} {
      background: $background-value !important;
    }

  }

}


/* `background-color`
   ========================================================================== */

@mixin background-color($value, $important: null) {
  background-color: map-get($color-values, $value) $important;
}

@if $classes-background == true {

  @each $color, $color-value in $color-values {

    .background-color--#{$color} {
      background-color: $color-value !important;
    }

  }

  @each $background-color-value in $background-color-values {

    .background-color--#{$background-color-value} {
      background-color: $background-color-value !important;
    }

    .background-color--#{$background-color-value}--active:active {
      background-color: $background-color-value !important;
    }

    .background-color--#{$background-color-value}--hover:hover {
      background-color: $background-color-value !important;
    }

  }
}


/* `background-image`
   ========================================================================== */

@if $classes-background == true {

  @each $background-image-value in $background-image-values {

    .background-image--#{$background-image-value} {
      background-image: $background-image-value !important;
    }

  }

}


/* `background-position`
   ========================================================================== */

@if $classes-background == true {

  @each $background-position, $background-position-value in $background-position-values {

    .background-position--#{$background-position} {
      background-position: $background-position-value !important;
    }

  }

}


/* `background-size`
   ========================================================================== */

@if $classes-background == true {

  @each $background-size-value in $background-size-values {

    .background-size--#{$background-size-value} {
      background-size: $background-size-value !important;
    }

  }

}
