/**
 * Docs:
 * http://fac.github.io/origin/utilities/height-and-width/
 *
 * Values:
 * https://github.com/fac/origin/tree/master/assets/scss/global/utilities/_utility-values.scss
 */

/* `height`
   ========================================================================== */

@if $classes-height-width == true {

  @each $height, $height-value in $height-values {

    .height--#{$height} {
      height: $height-value !important;
    }

  }

}

/* `max-width`
   ========================================================================== */

@if $classes-height-width == true {

  @each $max-width, $max-width-value in $max-width-values {

    .max-width--#{$max-width} {
      max-width: $max-width-value !important;
    }

  }

}


/* `min-height`
   ========================================================================== */

@if $classes-height-width == true {

  @each $min-height, $min-height-value in $min-height-values {

    .min-height--#{$min-height} {
      min-height: $min-height-value !important;
    }

  }

}


/* `width`
   ========================================================================== */

@if $classes-height-width == true {

  @each $width-size, $width-value in $width-values {

    .width--#{$width-size} {
      width: $width-value !important;
    }

  }

}
